@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #478aff;
  --color-secondary: #000;
  --color-accent: #252b33;
  --color-muted: #7a7a7a;
  --color-surface: #f2f2f2;
  --font-heading: "Marcellus", serif;
  --font-body: "Jost", sans-serif;
}

body {
  @apply font-body;
}

@layer utilities {
  .container {
  }
}

h1 {
  @apply text-[3rem] lg:text-[4rem];
  line-height: 1.2;
}
h2 {
  @apply text-[2.5rem] lg:text-[3rem];
  line-height: 1.2;
}
h3 {
  @apply text-[2rem] lg:text-[2.5rem];
  line-height: 1.2;
}
h4 {
  @apply text-[1.5rem] lg:text-[2rem];
  line-height: 1.2;
}
h5 {
  @apply text-[1.25rem] lg:text-[1.5rem];
  line-height: 1.2;
}
h6 {
  @apply text-[1.125rem] lg:text-[1.25rem];
  line-height: 1.2;
}
.text-base {
  @apply text-[1rem] lg:text-[1.125rem];
  line-height: 1.6;
}
.text-sm {
  @apply text-[0.75rem] lg:text-[1rem];
  line-height: 1.6;
}
